<h1>Oops! La page n'existe pas.</h1>
<div class="row">
    <div class="col-md-3" ></div>
    <div class="col-md-6">
        <img src="{{asset('bundles/app/img/not_found.jpg')}}" alt='page introuvable'>
    </div>
    <div class="col-md-3 "></div>
</div>