

<h2>Etat de votre demande</h2>

<p> Bonjour {{user}} </p>

<p>  Nous regrettons de vous informer que votre demande de création d'un atelier, n'a pas été acceptée pour les raisons suivants:</p>
<p style='color:red;'> <b>{{event.note}}</b> </p>
<p> veuillez vérifier les informations de votre profile </p>
<br>
<br>
            Cordialement,
          
            <br>Equipe l'Atelier
