{% extends 'base.html.twig' %}

{% block body %}
    {#{% form_theme form 'AppBundle:Orders:theme.html.twig' %}#}
    <h1>Paiement</h1>
    Evénement : {{ order.event.titre }}
    <br>
    Prix total: € {{ order.amount }}
    <br>
    Date: {{ order.event.dateDebut|date("d/m/Y") }}

    
    <h2> Order payment complete successfully !!</h2>
    
{% endblock %}
