{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    
                <h4>Modifier votre mot de passe</h4>


                <hr>    
                <div class="row">

              
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                     {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                    </div>
                    <div class="col-lg-3"></div>
                </div>

        <br>
 
{% endblock fos_user_content %}
                      
                 