{% for departement in departements %}
        
    <a class="dropdown-item" href="{{path('filterEvents',{ 'type': 'departement','value' : departement.id } )}}">{{ departement.nom }}</a>
   
{% endfor %}