
<!-- search Modal Small -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-inline" method="get" action="{{path('change_photo')}}">
                    <div class="text-center">
                        <input  class="form-control" type="file" name="photo" required>
                        <input  type="submit" class="btn btn-sm btn-secondary" value="Upload">
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

