
<!-- search Modal Small -->
<div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-inline" method="get" action="{{path('event_recherche')}}">
                    <div class="text-center">
                        <input class="form-control" type="text" placeholder="Recherche" name="motcle" aria-label="Recherche">
                        <input type="submit" class="btn btn-sm btn-secondary" value="Recherche">
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

